#search {
  margin-left: 50px;
}

.btn {
  margin-top: 30px;
  margin-left: 50px;
} 

img {
    height: 350px;
    width: 350px;
} 

.card {
  width: 350px;
  margin-left: 200px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}