/* user input area */
#searchInput {
  margin-left: 20px;
  margin-top: 20px;
}

/* title of our app */
.brand-logo {
  margin-left: 50px;
}

/* about page link */
#about-section{
  margin-right: 20px;
}

/* text on first part of the card displayed, artist, album and duration" */
.card-text{
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
 background-color: ;
}

/* text inside of the card reveal, album description and tracklist */
.description-text,
#tracks-text {
font-size: 15px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* nav and footer color set */
nav,
footer {
  background-color: #9b59b6 !important;
}

/* main search button styles */
.btn {
  margin-top: none;
  position: relative;
  margin-left: 20px;
  background-color: #1abc9c;
}

/* color change when hoverng over the search button */
button:hover {
  background-color: #feca57 !important;
}

/* search results cards styles */
.card {
  width: 350px;
  margin-left: 75px;
  margin-top: auto;
  float: left;
  display: block;
  align-items: center;
}

/* styled both main and body this way to get footer to set properly at the bottom of the page */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(242, 242, 250);
}

main {
  flex: 1 0 auto;
}

/* fixed album art properties so that returned art is not distorted */
.albumArt {
  height: 350px;
  width: 350px;
}
